<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>My name is Mikal</h1>
    <h2>My favorite color is green</h2>
    <h2>I like to dance</h2>
    <!--things about me-->
    <p>One of the things I like to do for fun is hang out with my <strong>friends<strong>.I also like to go on walks and hikes.</p>
    <p>My <em>favorite</em> food is <strong>lasagna<strong>. I could eat it everyday but that <em>wouldnt</em> be so healthy.</p>
    <ul>
        <li>burgers</li>
        <li>salmon</li>
        <li>salad</li>
        <li>pizza</li>
    </ul>
    <ol>
        <li>math</li>
        <li>english</li>
        <li>art</li>
        <li>health</li>
    </ol>
    <table>
        <tr>
    <!--courses i took-->
            <th>course</th>
            <th>semester</th>
        </tr>
        <tr>
            <td>bmgt302</td>
            <td>1</td>
        </tr>
        <tr>
            <td>bmgt402</td>
            <td>2</td>
        </tr>
         <tr>
            <td>bmgt403</td>
            <td>3</td>
        </tr>
    </table>
    <!--stores i love-->
    <p>click here to find out more about me <a href="hello">press here</a></p>
    <p>I love these clothes <a href="https://skims.com">press here</a></p>
    <p>I love these clothes <a href="https://us.ohpolly.com/" target="_blank">press here</a></p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72">
</body>
</html>