<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory Management</title>
    <style>

table, th, td {
  border: 1px solid black;
}
    </style>
</head>
<body>
<h1>Ingredients Inventory</h1>
<br><br>

    <table style="width:100%">

        <tr>

            <th style="text-align: center">Ingredient</th>

            <th style="text-align: center">Quantity</th>

            <th style="text-align: center">Minimum Quantity</th>

            <th style="text-align: center">In Pounds?</th>

        </tr>

        <tr>

            <td style="text-align: center">0</td>

            <td style="text-align: center"> 0</td>

            <td style="text-align: center">0 </td>

            <td style="text-align: center">0</td>


        </tr>

        <tr>

            <td style="text-align: center">0</td>

            <td style="text-align: center">0</td>

            <td style="text-align: center">0</td>

            <td style="text-align: center">0</td>



        </tr>

        <tr>

            <td style="text-align: center">0</td>

            <td style="text-align: center">0</td>

            <td style="text-align: center">0</td>

            <td style="text-align: center">0</td>

        </tr>

    </table>

<Br><br>

<form action="">
    <label for="ingredient">Ingredient to add/subtract: </label>
    <input type="text" id="ingredient">


<form action="">
    <label for="amount">Amount to add/subtract: </label>
    <input type="text" id="amount">

    <input type="submit" value="ENTER">

</form>

</body>
</html>